---
import Badge from "@/components/Badge.astro";
import Experience from "@/components/Experience.astro";
import Github from "@/icons/Github.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
import Section from "@/components/Section.astro";
import SocialPill from "@/components/SocialPill.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
---

<Layout
  title="Portfolio de Imanol - Desarrollador y programador web con un a침o de experiencia"
  description="Contrata a Imanol para crear tu aplicaci칩n web o m칩vil. Desarrollador web. Especializado en crear aplicaciones en React JS"
  keywords=""
>
  <Header />

  <main class="">
    <Section>
      <img class="rounded-full size-20 mb-5" src="/ima.jpg" alt="ima foto" />
      <h1
        class="text-white text-4xl font-bold flex justify-start items-center gap-x-4 pb-10"
      >
        Hey, soy Imanol
        <a
          href="https://www.linkedin.com/in/imanoldominguez/"
          target="_blank"
          class="flex items-center justify-start"
          rel="noopener noreferrer"
        >
          <Badge>Disponible</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+1 a침o de experiencia.</span>
        <span class="text-yellow-200/90">
          Desarrollador Frontend y creador de contenido.</span
        >
        <span class="text-sky-200/90">De Buenos Aires, Argentina.</span>
        <span class="opacity-80"
          >Especializado en crear aplicaciones en React JS.</span
        >
      </h2>
      <nav class="mt-8 flex gap-x-4 gap-y-3 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/imanoldominguez/">
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/imadominguez">
          <Github class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:imanol.desarrolloweb@gmail.com">
          <Mail class="size-6" />
          imanol.desarrolloweb@gmail.com
        </SocialPill>
        <SocialPill href="https://api.whatsapp.com/send?phone=5492284633631">
          <WhatsApp class="size-6" />
          Contacto
        </SocialPill>
      </nav>
    </Section>

    <Section id="Experience">
      <h2>Experiencia</h2>
      <Experience />
    </Section>
  </main>
</Layout>

<style></style>
