<header
  class="flex w-full justify-center items-center py-5 max-w-2xl mx-auto fade-in"
>
  <nav
    class="flex gap-x-10 gap-y-3 items-center justify-center opacity-90 w-full flex-wrap"
  >
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
